@import "_theme";

//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  font-size: 20px;
}

//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {
  font-family: "Space Mono", monospace;
}

//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 22px;
}

h3 {
  color: #444;
}

//----------------------------------------------------------------------------
//  Form Elements
//----------------------------------------------------------------------------
button[type="submit"] {
  background-color: crimson;
  border: 1px solid transparent;
  border-radius: 4;
  color: white;
  padding: 8px 16px;
}

input {
  display: block;
  width: 100%;
}

//----------------------------------------------------------------------------
//  Paragraphs
//----------------------------------------------------------------------------
p {
  line-height: 32px;
}

p + p {
  margin-top: 22px;
}
