//----------------------------------------------------------------------------
//  Form
//----------------------------------------------------------------------------

.signup__identity {

}

.signup__input-container {
  margin-bottom: 16px;
}

.signup__radio-container {

  .signup__radio-label {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 10px 0;

    input {
      width: 20px;
    }
  }
}

.signup__select-container {
  display: flex;
  justify-content: space-between;

  select {
    width: 140px;
  }
}

.signup__sponsors {
  p {
    margin-bottom: 16px;
  }
  textarea {
    min-height: 200px;
    width: 100%;
  }
}

.signup__verify {
  background-color: #f5f5f5;
  margin: 20px 0;
  padding: 20px;
  p {
    margin: 10px;
  }
}

.signup__edit {
  align-items: center;
  display: flex;
  justify-content: space-between;

  button {
    max-width: 60px;
    padding: 4px 8px;
  }
}