
.y-wrap {
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
}

.y-buffer {
  padding: 80px 0 60px;
}

.y-center {
  text-align: center;
}

.form-section {
  border: 1px solid crimson;
}

.y-button {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}