//----------------------------------------------------------------------------
//  Font Sizes
//----------------------------------------------------------------------------
$fBase: 16px;

$fSmall  : 0.8rem;
$fMedium : 1rem;
$fLarge  : 1.25rem;
$fXlarge : 5rem;

//----------------------------------------------------------------------------
//  Screen Widths
//----------------------------------------------------------------------------
$small   : 576px;
$medium  : 768px;
$large   : 992px;
$xlarge  : 1200px;