.nimg {
  height: 190px;
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

// TODO
// consider adding a field in Wordpress that lets the user determine an anchor point for the image since aspect ratios will vary
// the value of the field would be used inline on `<img />`