.y-navigation {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 50;

  a {
    font-size: 14px;
    font-weight: 700px;
    padding: 0 10px;
  }

  .y-navigation__nav-items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }

  .y-navigation__active {
    border-bottom: 2px solid crimson;
  }
}